<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenWeatherMap API</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="bgimg">
      
    </div>
    <div class="form">
      <div class="form-container">
        <h1>Weather Checker</h1>
        <form action="/" method="post" class="form-items">
          <div class="cities">
            <label for="city-name">City Name</label>
            <input type="text" name="city" id="city" class="input-box" />
          </div>
          
          <h4>OR</h3>
          <div class="zip-codes">
            <label for="zip-code">Zip Code</label>
            <input type="text" name="zip-code" id="zip-code" class="input-box" />
          </div>
          <br>
          <div class="button">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
        
      </div>
      <div class="results-container">
        <div class="results-box">
          <h2 class="city-name">{{weatherInfo.cityName}} ({{weatherInfo.zipCode}})</h2>
          <div class="result-section">
            <h3>Temperature:&ensp;</h3>
          <p id="temperature">{{weatherInfo.temperature}}</p>
          </div>
          <div class="result-section">
            <h3>Humidity:&ensp;</h3>
            <p id="humidity">{{weatherInfo.humidity}}</p>
          </div>
          <div class="result-section">
            <h3>Weather Description:&ensp;</h3>
            <p id="weather-description">{{weatherInfo.weatherDescription|capitalize}}</p> 
            <img src="{{ weatherInfo.weatherIcon }}" alt="" class="icon">
          </div>
          <div class="result-section">
            <h3>Time of submission:&ensp; </h3>
            <p> {{weatherInfo.timeDisplayed}} </p>
          </div>
          <div class="result-section">
            <h3>Max/Min:&ensp;</h3>
            <p> {{ weatherInfo.maxMin }} </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
